@model IEnumerable<Student>


@{
    ViewData["Title"] = "Index";
}



<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">CATEGORY LIST</h2>

        </div>

        <div class="col-6 text-end">
            <a asp-controller="StudentRegister" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle"></i> &nbsp; Create New Category</a>

        </div>
    </div>

    <br />



<table class="table table-bordered table-striped" style="width:100%">

    <thead>
        <tr>
            <th style="color:white">Id</th>
            <th style ="color:white">Name</th>
            <th style="color:white">Description</th>
            <th style="color:white">Age</th>
                <th style="color:white">createDateTime</th>
                <th style="color:white"></th>
        </tr>


    </thead>

    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width="50%" style="color:white">
                    @obj.Id</td>
                <td width="50%" style="color:white">
                    @obj.Name</td>
                <td width="50%" style="color:white">
                    @obj.Description</td>
                <td width="50%" style="color:white">
                    @obj.Age</td>
                <td width="50%" style="color:white">
                    @obj.createDateTime</td>
                <td>
                    <div class="w-75 btn-group" role="group">
                            <a asp-controller="StudentRegister" asp-action="Edit" asp-route-Id="@obj.Id" class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i>Edit</a>
                            <a asp-controller="StudentRegister" asp-action="Delete" asp-route-Id="@obj.Id" class="btn btn-danger mx-2"> <i class="bi bi-trash3-fill"></i>Delete</a>

                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

</div>

